:root {
    --primary-color: white;
    --accent-color: white;
    --bg-color: white;

    --anim-dur: 1s;
}

body {
    background-repeat: repeat;
    background-color: var(--bg-color);
    transition: background var(--anim-dur);
}

main {
    color: var(--primary-color);
    font-family: serif;
    font-size: xx-large;
    height: 100%;
    transition: color var(--anim-dur); 
}

#display {
    padding-top: 140px;
}

#dialog p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    min-width: 100px;
    max-width: 30%;
    padding: 13px 24px;
    margin: 2px 15px 10px;
    text-align: center;
    font-size: 1.05em;
    letter-spacing: 2px;

    cursor: pointer;
    border: 3px solid var(--primary-color);
    user-select: none;
    -moz-user-select: none;
    transition: border-color var(--anim-dur), opacity 0.25s; 
}
.button:hover:not(:active) { opacity: 0.5; }

