:root {
    --primary-color: palevioletred;
    --primary-light-color: lightpink;
    --bg-color: mistyrose;
}

main {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: 28px;
    height: 100%;
}

#display {
    padding-top: 140px;
}

#dialog p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    min-width: 100px;
    max-width: 30%;
    padding: 5px 10px;
    margin: 2px 6px 10px 6px;
    text-align: center;

    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-width: 0 0 2px;
    user-select: none;
    -moz-user-select: none;
}
.button:hover {
    text-decoration: underline;
}

